<div>
    <label for="title">Title</label>
    <input required value="<%= article.title %>" type="text" name="title" id="title">
</div>

<div>
    <label for="description">Description</label>
    <textarea name="description" id="description">
        <%= article.description %>
    </textarea>
</div>

<div>
    <label for="markdown">Markdown</label>
    <textarea required name="markdown" id="markdown">
        <%= article.markdown %>
    </textarea>
</div>

<a href="/">Cancel</a>
<input type="submit" value="Submit">