<div>
    <label for="title">Title</label>
    <input required type="text" name="title" id="title">
</div>

<div>
    <label for="description">Description</label>
    <textarea name="description" id="description"></textarea>
</div>

<div>
    <label for="markdown">Markdown</label>
    <textarea name="markdown" id="markdown"></textarea>
</div>

<a href="/">Cancel</a>
<input type="submit" value="Submit">